
html,body
{
    height: 100%;
}

h1
{
    font-size: 60px;
    text-align: center;
}

.banniere
{
    background-image: url("../img/banniere2.jpg");
    height: 100%;
    background-repeat: no-repeat;
}

.textBlanc
{
    color: white;
}

.navbar {
    background-color: #9ce819;
}
.navbar .navbar-brand {
    color: red;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ecdbff;
}
.navbar .navbar-text {
    color: red;
}
.navbar .navbar-text a {
    color: #ecdbff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ecdbff;
}
.navbar .navbar-nav .nav-link {
    color: red;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ecdbff;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #9ce819;
    border-color: #515c83;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: red;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #515c83;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #515c83;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ecdbff;
    background-color: #515c83;
}
.navbar .navbar-toggle {
    border-color: #515c83;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #515c83;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: red;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: red;
}
.navbar .navbar-link {
    color: red;
}
.navbar .navbar-link:hover {
    color: #ecdbff;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: red;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ecdbff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ecdbff;
        background-color: #515c83;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: red;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ecdbff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ecdbff;
        background-color: #515c83;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: red;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ecdbff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ecdbff;
        background-color: #515c83;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: red;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ecdbff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ecdbff;
        background-color: #515c83;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: red;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #515c83;
}