
html,body
{
    height: 100%;
}

h1
{
    font-size: 60px;
    text-align: center;
}

@media only screen and (max-width: 480px)
{
    h1
    {
        font-size: 30px;
        text-align: center;
    }
}

.banniere
{
    background-image: url("../img/banniere2.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 480px)
{
    .banniere
    {
        background-image: url("../img/banniere.jpg");
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.textHauteur
{

    padding-top: 100px;
}

.textHauteurMission
{
    padding-top: 350px;
}

@media only screen and (max-width: 480px)
{
    .textHauteur
    {
        padding-top: 0px;
    }

    .textHauteurMission
    {
        padding-top : 0px;
    }
}


.textBlanc
{
    color: white;
}

.textNoir
{
    color:black;
}

.backgroundNoir
{
    background-color: black;
}

.textJaune
{
    color: yellow;
    font-weight: bold;
}

.parallax1
{
    background-image: url("../img/fond.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2
{
    background-image: url("../img/parallax2.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa_color
{
    color:blue;
}
.navbar {
    background-color: #79e998;
}
.navbar .navbar-brand {
    color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #b5c3c4;
}
.navbar .navbar-text {
    color: #ecf0f1;
}
.navbar .navbar-text a {
    color: #b5c3c4;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #b5c3c4;
}
.navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #b5c3c4;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #b5c3c4;
    background-color: #664710;
}
.navbar .navbar-toggle {
    border-color: #664710;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #664710;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ecf0f1;
}
.navbar .navbar-link {
    color: #ecf0f1;
}
.navbar .navbar-link:hover {
    color: #b5c3c4;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #b5c3c4;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #b5c3c4;
        background-color: #664710;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #b5c3c4;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #b5c3c4;
        background-color: #664710;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #b5c3c4;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #b5c3c4;
        background-color: #664710;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #b5c3c4;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #b5c3c4;
        background-color: #664710;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #b5c3c4;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #b5c3c4;
    background-color: #664710;
}